# Ignore generated data files

/Data/raw_data.json
/Data/bbc_articles.json
/Data/combined_data.json
/Data/doc_metadata.json
/Data/inverted_index_array.json
/Data/inverted_index.json

# Ignore node_modules and build artifacts
/Frontend/.env
/Frontend/node_modules
/Frontend/build
/Backend/node_modules

# Ignore Python cache files
__pycache__/
*.pyc
/wiki_crawler/wiki_crawler/__pycache__
/wiki_crawler/wiki_crawler/spiders/__pycache__

/Backend/.env


# Optional: ignore environment files
.env
